*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: "Quicksand", sans-serif;
}

body{
    background: linear-gradient(360deg,rgba(0, 0, 0, 0.733), rgb(0, 0, 0)), url("img/background-coffee.jpg");
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

header{
    position: fixed;
    width: 100%;
    height: 7vh;
    background-color: #00000075;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 5%;
}
.header-title{
    font-size: 3.2rem;
    font-weight: 200;
    letter-spacing: 0.8px;
    cursor: pointer;
}
.header-description{
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 2px;
}
.header-navigation .header-navigation-list{
    font-size: 1.2rem;
    align-items: center;
    display: flex;
    list-style: none;
    gap: 2.0rem;
    letter-spacing: 1.2px;
}
.header-navigation .header-navigation-list a{
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    transform: 2ms ease-in;
    position: relative;
}
.header-navigation .header-navigation-list a:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 0.5px;
    background-color: #fff;
    transition: all 0.35s ease;
}
.header-navigation .header-navigation-list a:hover:before{
    width: 100%;
}

.main-1{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title{
    width: 850px;
    font-size: 4.5rem;
    margin-bottom: 2.0rem;
    text-align: center;
    font-weight: 400;
}
.main-description{
    font-family: poppins;
    width: 850px;
    font-size: 1.2rem;
    margin-bottom: 2.0rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main-button{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.main-button .cardapio-button{
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing: 0.1rem;
    font-weight: 900;
    font-family: Poppins;
    font-size: 1.2rem;
    border-radius: 10px;
    position: relative;
    transition: all 0.35s ease;
}
.main-button .cardapio-button:hover{
    background-color: white;
    color: black;
}
.main-button .cardapio-button::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 0.5px;
    background-color: #fff;
    transition: all 0.35s ease;
}

.main-2{
    background: linear-gradient(45deg,rgb(20, 20, 20), rgb(0, 0, 0)), url("img/background-coffee.jpg");
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main2-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main2-title{
    width: 850px;
    font-size: 4.5rem;
    margin-bottom: 2.0rem;
    text-align: center;
    font-weight: 400;
}

.main2-description{
    font-family: poppins;
    width: 850px;
    font-size: 1.2rem;
    margin-bottom: 2.0rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main2-avaliacao{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.main2-avaliacao .avaliacao{
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    letter-spacing: 0.1rem;
    font-weight: 900;
    font-family: Poppins;
    font-size: 1.2rem;
    border-radius: 10px;
    position: relative;
    transition: all 0.35s ease;
}
footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    position: end;
    bottom: 0;
    width: 100%;
    font-size: 1.6rem;
}